@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi";
}
body {
  overflow-x: hidden;
  background-image: url("/static/images/about-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
::-webkit-scrollbar {
  background: none;
  display: none;
}
a {
  text-decoration: none;
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}
header .login-register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 2s ease;
}
header .login-register .signs {
  display: flex;
  gap: 10px;
}
header .login-register .signs i {
  color: #d9ba85;
}
header .login-register .sign-container {
  display: flex;
  gap: 25px;
}
header .login-register .sign-container .login {
  display: flex;
  gap: 20%;
}
.normal {
  background-color: rgba(0, 0, 0, 0.51);
  width: 100vw;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 0;
}
nav .logo {
  color: white;
  font-size: 32px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  color: white;
  font-size: 20px;
}
nav ul li a:hover {
  color: #d9ba85;
}
nav .button a {
  width: 100%;
  background-color: transparent;
  color: #d9ba85;
  border: 1px solid #d9ba85;
  padding: 10px 20px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  transition: color 2s, background-color 2s;
}
nav .button a:hover {
  color: white;
  background-color: #d9ba85;
}
.sign-container a {
  color: #d9ba85;
}
.sign-container a:hover {
  color: white;
}
.email {
  color: #d9ba85;
  font-size: xx-large;
}
.line {
  border: #d9ba85 2px solid;
  height: 70vh;
  /* width: %; */
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.895);
  border-radius: 5%;
  padding: 25%;
}
form input {
  width: 100%;
  border: none;
  padding: 2%;
  font-size: 32px;
  margin: 1%;
  background: #fff;
  border-bottom: 3px solid #d9ba85;
  color: #d9ba85;
}
form input::placeholder,
form textarea::placeholder {
  color: #d9ba85;
}
form input:active,
form textarea:active {
  border: none;
}
form textarea {
  width: 100%;
  border: none;
  padding: 2.3%;
  margin: 1%;
  resize: vertical;
  font-size: 32px;
  border-bottom: 3px solid #d9ba85;
}
form button {
  width: 70%;
  padding: 5% 6%;
  margin: 7% 17%;
  color: aliceblue;
  background-color: #d9ba85;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}
