@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi";
}
body {
  overflow-x: hidden;
  /* background-image: url("/static/images/about-bg.jpg"); */
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  background: none;
  display: none;
}
a {
  text-decoration: none;
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
}
header .login-register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 2s ease;
}
header .login-register .signs {
  display: flex;
  gap: 10px;
}
header .login-register .signs i {
  color: #d9ba85;
}
header .login-register .sign-container {
  display: flex;
  gap: 25px;
}
.normal {
  background-color: rgba(0, 0, 0, 0.51);
  width: 100vw;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 0;
}
nav .logo {
  color: white;
  font-size: 32px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  color: white;
  font-size: 20px;
}
nav ul li a:hover {
  color: #d9ba85;
}
nav .button a {
  width: 100%;
  background-color: transparent;
  color: #d9ba85;
  border: 1px solid #d9ba85;
  padding: 10px 20px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  transition: color 2s, background-color 2s;
}
nav .button a:hover {
  color: white;
  background-color: #d9ba85;
}
.sign-container a {
  color: #d9ba85;
}
.sign-container a:hover {
  color: white;
}
.active {
  color: #d9ba85 !important;
}
body {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 85vh;
}
.title {
  font-size: 52px;
  font-family: "Cedarville Cursive", cursive;
}
.title::before {
  content: "/--";
}
.title::after {
  content: "--/";
}
.cuisines {
  display: flex;
}
.cuisines .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cuisines .container form {
  background-color: #fff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart .img {
  display: flex;
  gap: 15px;
  align-items: center;
}
.cart .img .plusbutton,
.cart .img .minusbutton {
  background-color: #fff;
  border-radius: 10%;
  padding: 2%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(237, 237, 237);
  box-shadow: 2px 2px 10px black inset;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
footer .cart {
  max-width: 50%;
  display: flex;
  gap: 15px;
  padding: 15px;
  background-color: white;
  align-items: center;
}
footer .cart .cartitem {
  border: 1px black solid;
  padding: 3px;
  border-radius: 0.25rem;
}
footer .buttons .skip a {
  text-decoration: none;
  display: block;
  width: max-content;
  color: white;
  background-color: black;
  margin-right: 105px;
  border-radius: 5%;
  padding: 5% 10%;
}
