@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Reem Kufi";
}
body {
  overflow-x: hidden;
  /* background-image: url("/static/images/about-bg.jpg"); */
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  background: none;
  display: none;
}
a {
  text-decoration: none;
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
}
header .login-register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 2s ease;
}
header .login-register .signs {
  display: flex;
  gap: 10px;
}
header .login-register .signs i {
  color: #d9ba85;
}
header .login-register .sign-container {
  display: flex;
  gap: 25px;
}
.normal {
  background-color: rgba(0, 0, 0, 0.51);
  width: 100vw;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 0;
}
nav .logo {
  color: white;
  font-size: 32px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  color: white;
  font-size: 20px;
}
nav ul li a:hover {
  color: #d9ba85;
}
nav .button a {
  width: 100%;
  background-color: transparent;
  color: #d9ba85;
  border: 1px solid #d9ba85;
  padding: 10px 20px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  transition: color 2s, background-color 2s;
}
nav .button a:hover {
  color: white;
  background-color: #d9ba85;
}
.sign-container a {
  color: #d9ba85;
}
.sign-container a:hover {
  color: white;
}
.active {
  color: #d9ba85 !important;
}
body {
  background-color: gainsboro;
}
.tablelist {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .tablelist .container {
  width: 60%;
  display: flex;
  flex-direction: row;
} */
.tablelist .container {
  padding: 5% 15%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.booked4,
.booked8,
.booked12,
.available4,
.available8,
.available12,
.ongoing4,
.ongoing8,
.ongoing12 {
  padding: 5%;
  margin: 5%;
  /* width: 5%; */
  flex-basis: 30%;
  margin-bottom: 2%;
  border-radius: 10%;
  transition: 1s ease-in;
}
.booked4,
.available4,
.ongoing4 {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.booked8,
.available8,
.ongoing8 {
  width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.booked12,
.available12,
.ongoing12 {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chairs i {
  margin: 0 5px;
  font-size: 20px;
  transition: 1s ease-in;
}
.table {
  margin: 5px 0;
  width: 137px;
  height: 30px;
  border: 2px solid;
  transition: 1s ease-in;
}
.available4 .table,
.booked4 .table,
.ongoing4 .table {
  margin: 5px 0;
  width: 60px;
  height: 30px;
  border: 2px solid;
}
.available8 .table,
.booked8 .table,
.ongoing8 .table {
  margin: 5px 0;
  width: 122px;
  border: 2px solid;
}
.available12 .table,
.booked12 .table,
.ongoing12 .table {
  margin: 5px 0;
  width: 190px;
  height: 30px;
  border: 2px solid;
}
.available4 .table,
.available8 .table,
.available12 .table,
.available4 i,
.available8 i,
.available12 i {
  border-color: mediumseagreen;
  color: mediumseagreen;
}
.booked4 .table,
.booked8 .table,
.booked12 .table,
.booked4 i,
.booked8 i,
.booked12 i {
  border-color: red;
  color: red;
}
.ongoing4 .table,
.ongoing8 .table,
.ongoing12 .table,
.ongoing4 i,
.ongoing8 i,
.ongoing12 i {
  border-color: yellow;
  color: yellow;
}
.booked4,
.booked8,
.booked12 {
  background-color: coral;
}
.available4,
.available8,
.available12 {
  background-color: aquamarine;
}
.ongoing4,
.ongoing8,
.ongoing12 {
  background-color: rgb(255, 255, 200);
}
