<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="shortcut icon"
      href="/static/images/logo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <div class="coverimg"><img src="/static/images/signup.jpg" /></div>
    <div class="form">
      <div class="title">Login</div>
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="user_username" placeholder="username" />
        <input type="password" name="user_password" placeholder="password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
